:root {
  /* Variables */
  --theme-font-color: rgba(255, 255, 255, 0.87);
  --theme-success-color:#98FB98;
  --theme-danger-color:#E32636;

  font-family: 'Fjalla One', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-variant-numeric: tabular-nums;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--theme-font-color);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.5rem;
}

/* @media (prefers-color-scheme: light) {
    :root {
      color: rgba(255, 255, 255, 0.87);
    }
  } */