button {
    border-radius: 8px;
    border: 1px solid var(--theme-font-color);
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--theme-font-color);
    border-color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover {
    color: #030;
    border-color: #fff;
    background-color: #fff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}