.container {
  width: 70vw;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem 0.75rem;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  gap:1.25rem;
}

.main {
  flex: 1 0 60%;
}

.sidebar {
  flex: 1 0 30%;
}

.inc-exp-container{
  border: 1px dashed var(--theme-font-color);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.inc-exp-container > div{
  flex: 1;
}

.list > li{
  padding: 0.25rem 0.5rem;
}

.list li:not(:last-child){
  margin-bottom: 0.5rem;
}

.add-container{
  flex-direction: column;
  gap: 1rem;
}

#amount{
  direction: rtl;
}